<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" throwConfigExceptions="true" >
  <!--internalLogFile="c:\temp\nlog-internal.log">-->

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>
  <variable name="year" value="${date:format=yyyy}"/>
  <variable name="year_month" value="${date:format=yyyy-MM}"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets async="true">

    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <!--
    Write events to a file with the date in the filename.
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
    <target xsi:type="AsyncWrapper" name="OrdiLogger" queueLimit="5000" overflowAction="Discard">
      <target xsi:type="File"
              layout="${longdate} ${uppercase:${level}} ${message} ${stacktrace} ${onexception:${exception:format=tostring} ${machinename}"
              fileName="${basedir}/Logs/${level}/${year}/${year_month}/${shortdate}.log"
              archiveFileName="${basedir}/Logs/${level}/${year}/${year_month}/${shortdate}archive/${shortdate}.{#####}.log"
              archiveAboveSize="3145728"
              archiveNumbering="Sequence"
              concurrentWrites="true"
              maxArchiveFiles="99999"
              keepFileOpen="false"
              encoding="utf-8" />
    </target>
    <target xsi:type="AsyncWrapper" name="InfoLogger" queueLimit="5000" overflowAction="Discard">
      <target xsi:type="File"
              layout="${longdate} ${uppercase:${level}} ${message} ${stacktrace} ${onexception:${exception:format=tostring} ${machinename}"
              fileName="${basedir}/Logs/${level}/${year}/${event-context:item=AppName}/${year_month}/${shortdate}.log"
              archiveFileName="${basedir}/Logs/${level}/${year}/${event-context:item=AppName}/${year_month}/${shortdate}archive/${shortdate}.{#####}.log"
              archiveAboveSize="3145728"
              archiveNumbering="Sequence"
              concurrentWrites="true"
              maxArchiveFiles="99999"
              keepFileOpen="false"
              encoding="utf-8" />
    </target>
    <target name="db" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target xsi:type="Database"
            dbProvider="Oracle.ManagedDataAccess.Client.OracleConnection, Oracle.ManagedDataAccess"
            connectionString="USER ID=LENOVO_CIS;PASSWORD=CIS123456;DATA SOURCE=(DESCRIPTION =(ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST =172.30.99.3)(PORT = 1521)))(CONNECT_DATA =(SERVICE_NAME = ORCL)))"
            commandText="INSERT INTO MORTAL_LOG(ID, CONTENT, CREATION_DATE) VALUES(:ID, :CONTENT, SYSDATE)">
        <parameter name="id" layout="${guid}" />
        <parameter name="content" layout="${message}" />
      </target>
    </target>

    <!--write log message to Visual Studio Output-->
    <!--<target xsi:type="Debugger" name="debugger" layout="NLog: ${date:format=HH\:mm\:ss} | ${level:uppercase=true:padding=-5} | ${message}" />-->
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="*" minlevel="Info" maxlevel="Fatal" writeTo="OrdiLogger" />

    <!-- add your logging rules here -->
    <logger name="*" minlevel="Trace" maxlevel="Fatal" writeTo="db"/>
    <!--<logger name="*" minlevel="Info" maxlevel="Fatal" writeTo="database" />-->

    <logger name="*" level="Debug" writeTo="InfoLogger"/>

    <!--TRACE,DEBUG,INFO,WARN,ERROR,FATAL-->
    <!--<logger name="*" minlevel="Trace" writeTo="debugger" />-->

    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
  </rules>
</nlog>
